<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Inscripción</h3>

					<h4>Google I/O Extended Conference</h4>
						<p><strong>De 10:00 a 13:00.</strong> Para empezar bien el día e ir calentando motores
							tendremos una mañana llena de charlas técnicas.</p>
					<a href="http://www.meetup.com/es-ES/GDGMadrid/events/230530091/" class="btn btn-primary waves-effect waves-button waves-light waves-float">Inscripción</a>


					<h4>Google I/O Extended Streaming Party</h4>
						<p><strong>De 17:00 a 21.30.</strong> Tras nuestra sesión de charlas técnicas
							empezará nuestra fiesta de por la tarde a la que queremos que
							gente de todas las comunidades asista para ver el streaming del
							evento del año con cerveza, pizzas, algunos regalos y sobre
							todo un buen rato de networking.</p>
					<a style="background:#B40404 !important;" href="http://www.meetup.com/es-ES/GDGMadrid/events/230530253/" class="btn btn-primary waves-effect waves-button waves-light waves-float">Inscripción</a>
		</div>
	</div>
</section>
<!-- End Tickets Section -->
